/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}
.first-head{
    margin-top: 40px;
    margin-bottom: 30px;
}
.first-section{
    padding: 15px;
    justify-items: center;
}
.second-head{
    font-size: 2em;
}

/* Top section  */
.top-sections{
    width: 100%;
    
    display: flex;
}
.influencer-details{
    width: 80%;
    margin-right: 10px;
}

.main-image img{
    width: 80%;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 100%;
}

.button{
    border: none;
    width: 200px;
    height: 40px;
    display: inline-block;
    padding: 15px, 25px;
    border-radius: 25px;
    background-color: rgb(168, 41, 168);
}
.button a{
    
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 700px;
    padding: 10px, 20px;
}
.font-awesome{
    color: white;
    font-size: 18px;
    padding-left: 10px;
}

/* collections */
.second-section{
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section-title{
    text-align: center;
}
.collection{
    width: 200px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    color: hotpink;
    box-shadow: 10px 10px 5px gray;
    
}
.collection-title{
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.collection{
    background-color: whitesmoke;
}
.collection-details{
    padding-top: 0;
}


.collection-image img{
    width: 214px;
    height: 104px;
    
}
.pragraph{
    padding: 0%;
    margin: 0%;
}

.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #ffc014;
}
.fa-star.empty{
    color: black;
}

/* iphone */
.iphone{
    width: 100%;
    margin-top: 120px;
     display: grid; 
    justify-content: center;
    /* align-items: center; */
}

/* footer items */
.footer{
    background-color: wheat;
}
.foots{
    text-align: center;
    font-weight: 700;
    
}
.footer-item{
    font-size: 24px;

    
    /* margin-right: 40px;
    padding-right: 40px; */
}


/* media queries */
/* for mobiles */
@media only screen and (max-width:688px) {
    
    .top-sections{
        grid-template-columns: repeat(1, 1fr);
    }
    .top-sections{
        flex-direction: column;
    }
    .second-section{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* for iped */
@media only screen and (min-width:688px) and (max-width:992px) {
    .top-sections{
        grid-template-columns: repeat(2, 1fr);
    }
    .top-sections{
        flex-direction: column;
    }
    .second-section{
        grid-template-columns: 2, 1fr;
    }
}